@import 'colors';
@import 'hamburger-menu';
@import 'underline-effect';
%header-sections-shared {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.header {
    padding: 20px;
    height: 100px;
    width: 100%;
    max-width: $max-width-monitor;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.header-left {
    width: 19%;
    @extend %header-sections-shared;
}

.header-middle {
    width: 60%;
    @extend %header-sections-shared;
}

.header-right {
    width: 19%;
    @extend %header-sections-shared;
}

.home-button {
    font-size: 2em;
    color: $primary-text-color;
}

.about-me-icon {
    width: 100%;
    max-height: 100%;
    transition: 0.25s;
    filter: brightness(0.98);
}

.about-me-icon:hover {
    filter: brightness(1.1);
}