body {
    background: #DDD;
    font-family: 'Roboto', sans-serif;
    display: table;
    margin: 0 auto;
    font-size: 16px;
}

.content {
    background: #DDD;
    width: 100%;
    text-align: center;
}

.header {
    padding: 20px;
    height: 100px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.header-section {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.header-left {
    width: 19%;
}

.header-middle {
    width: 60%;
}

.header-right {
    width: 19%;
}

.home-button {
    font-size: 2em;
    color: #2a3a4a;
}

.about-me-icon {
    width: 100%;
    max-height: 100%;
}

.thumbnail {
    float: left;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.card {
    display: inline-block;
    width: 85%;
    max-width: 800px;
    height: 160px;
    margin: 40px auto;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #EEE;
    transition: 0.4s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
    background: #F3F3F3;
}

.post-left {
    width: 40%;
    height: 100%;
    float: left;
}

.post-right {
    overflow: hidden;
    /* prevent .post-right from wrapping below .post-left */
    height: 100%;
}

.post-right-bottom {
    height: 100%;
}

.post-title {
    color: #2a3a4a;
    font-size: 1.2em;
}

.post-meta-info {
    color: #798999;
    font-size: 0.75em;
    bottom: 0;
    right: 0;
}

.clickable {
    cursor: pointer;
}

#post-content {
    background: #e5e5e5;
    text-align: justify;
    padding: 20px 40px;
    max-width: 1000px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .content {
        width: 100%;
    }
    .card {
        max-width: 100%;
    }
    .header {
        max-width: 100%;
    }
}


/********************** Hamburger Menu **********************/

.hamburger-menu {
    display: inline-block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #2a3a4a;
    margin: 6px 0;
    transition: 0.4s;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/**************************************************************/


/********************** Underline Effect **********************/

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ff6666;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.underline:hover::before {
    transform: translate(-50%, 0) scaleX(1);
}


/**************************************************************/